// Licensed to the Apache Software Foundation (ASF) under one
// or more contributor license agreements.  See the NOTICE file
// distributed with this work for additional information
// regarding copyright ownership.  The ASF licenses this file
// to you under the Apache License, Version 2.0 (the
// "License"); you may not use this file except in compliance
// with the License.  You may obtain a copy of the License at
//
//   http://www.apache.org/licenses/LICENSE-2.0
//
// Unless required by applicable law or agreed to in writing,
// software distributed under the License is distributed on an
// "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
// KIND, either express or implied.  See the License for the
// specific language governing permissions and limitations
// under the License.

---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Use media queries like this:
// @include media-query($on-palm) {
//     .wrapper {
//         padding-right: $spacing-unit / 2;
//         padding-left: $spacing-unit / 2;
//     }
// }
@mixin media-query($device) {
    @media screen and (max-width: $device) {
        @content;
    }
}

// Colors to sync with semantic site.variables
$white          : #EBEBEB;
$grey           : #54595B;
$black          : #262626;
$teal           : #283F4E;
$red            : #E24614;
$yellow         : #DBA915;
$green          : #BFD02C;
$blue           : #38A6D8;
$purple         : #852EB7;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
    "flagon",
    "highlighting",
    "bowie",
    "userale"
;
