<div class="site-header">
  <div id="main-menu" class="ui inverted padded fixed top borderless menu">
    <a class="site-title" href="{{ site.baseurl }}/">
      <h3 class="ui inverted header item">Apache Flagon</h3>
    </a>

    <div class="right menu">
      <div class="ui dropdown item">
        Components
        <div class="menu">
          <a class="item" href="{{ '/stack' | prepend: site.baseurl }}">Stack</a>
          <a class="item" href="{{ '/userale' | prepend: site.baseurl }}">UserALE</a>
          <a class="item" href="{{ '/distill' | prepend: site.baseurl }}">Distill</a>
          <a class="item" href="{{ '/tap' | prepend: site.baseurl }}">Tap</a>
          <a class="item" href="{{ '/stout' | prepend: site.baseurl }}">Stout</a>
        </div>
      </div>
      <div class="ui dropdown item">
        <a href="{{ '/docs' | prepend: site.baseurl }}">Docs</a>
        <div class="menu">
          <a class="item" href="{{ '/docs/stack' | prepend: site.baseurl }}">Stack</a>
          <a class="item" href="{{ '/docs/userale'| prepend: site.baseurl }}">UserALE</a>
          <a class="item" href="{{ '/docs/useralejs'| prepend: site.baseurl }}">UserALE.js</a>
          <a class="item" href="{{ '/docs/useralepy'| prepend: site.baseurl }}">UserALE.py</a>
          <a class="item" href="{{ '/docs/distill'| prepend: site.baseurl }}">Distill</a>
          <a class="item" href="{{ '/docs/tap'| prepend: site.baseurl }}">Tap</a>
          <a class="item" href="{{ '/docs/stout'| prepend: site.baseurl }}">Stout</a>
        </div>
      </div>
      <a class="item" href="{{ '/releases' | prepend: site.baseurl }}">Releases</a>
      <a class="item" href="{{ '/community' | prepend: site.baseurl }}">Community</a>
    </div>
  </div>
</div>
