---
layout: default
---

<div id="main-masthead" class="ui masthead padded center aligned inverted vertical segment">

  <h1 class="ui header">Apache Flagon</h1>
  <h2 class="ui header">Instrument Software. &nbsp; Understand Humans.</h2>

</div>

<div class="ui very padded vertical segment">
  <div class="ui center aligned text container">
    <p>
      Apache Flagon is an open-soure, thin-client behavioral logging capability useful for business analytics, usage analytics, usability and user testing. It's also for science into how information technology is used. Flagon supports a range of streamlined deployment schemas ranging from single webpage analysis to enterprise level monitoring, making it easy to collect data without heavy modification of your own code. Using Elastic products, Flagon makes it easy to scale, integrate other services, access your data and get the insights you need out of it. In the spirit of customization, the Apache Flagon project collects a number of modular products and capabilities to help you build the stack that suites your needs.
    </p>

    <br>

    <a class="ui big red button" href="{{ '/docs/stack/' | prepend: site.baseurl }}">
      Get Started
    </a>
    <a class="ui big blue button" href="{{ '/releases' | prepend: site.baseurl }}">
      Download Flagon
    </a>
    <a class="ui big yellow button" href="mailto:dev-subscribe@flagon.incubator.apache.org">
      Join our Dev List
    </a>
  </div>
</div>

<div class="ui inverted grey very padded vertical segment">
  <div class="ui text container">
    <div class="ui two column middle aligned grid">
      <div class="column">
        With a single line of code capture all of your users' behavior on your web page with enough resolution and granularity for advanced behavioral modeling. Apache UserALE is Flagon's free, open-source application for thin-client behavioral logging. It's perfect for business analytics and enterprise application monitoring, but powerful enough for UI/UX research and user-testing. Check out our slick demo!
      </div>
      <div class="center aligned column">
        <a href="{{ '/userale' | prepend: site.baseurl }}">
          <img class="component-image" src="/images/userale_inverted.png">
        </a>
      </div>
    </div>
  </div>
</div>

{% include useralejsDemo.html inverted=false %}

<div class="ui inverted grey very padded vertical segment">
  <div class="ui text container">
    <div class="ui two column middle aligned grid">
      <div class="center aligned column">
        <a href="{{ '/distill' | prepend: site.baseurl }}">
          <img class="component-image" src="/images/distill_inverted.png">
        </a>
      </div>
      <div class="column">
        Process and control your own user event data. Apache Distill is Flagon's experimental, customizable analytics stack built in Python that interfaces directly with Elastic. It gives data scientists and developers the power to segment and model user data in Python or push modeling output to visual analytic applications. From simple aggregations to complex graph models of user workflow, Distill provides access to user data and the python libraries you love in a streamlined analytical pipeline.
      </div>
    </div>
  </div>
</div>

<div class="ui very padded vertical segment">
  <div class="ui text container">
    <div class="ui two column middle aligned grid">
      <div class="column">
        Apache TAP is Flagon's experimental collection of specially modified D3 visual analytic libraries for exploring Apache UserALE.js data. You can explore them in our sandbox environment, or embed them in your own applications. With TAP, Gain insight from advanced sequential and graph models and reveal trends in usage across users of different types and experience, and trends across different versions of your application. Try out our Bowie plot demo below!
      </div>
      <div class="center aligned column">
        <a href="{{ '/tap' | prepend: site.baseurl }}">
          <img class="component-image" src="/images/tap.png">
        </a>
      </div>
    </div>
  </div>
</div>

{% include tapDemo.html inverted=true %}

<div class="ui very padded vertical segment">
  <div class="ui text container">
    <div class="ui two column middle aligned grid">
      <div class="center aligned column">
        <a href="{{ '/stout' | prepend: site.baseurl }}">
          <img class="component-image" src="/images/stout.png">
        </a>
      </div>
      <div class="column">
        Stage systematic user research on the web. Apache STOUT provides everyone the ability to perform user research on the web. Track research participants through different tasks with your web applications, or track them through different versions of the same web application. Apache STOUT allows you to manage user research participants and data collected through Apache UserALE and 3rd party form data services.
      </div>
    </div>
  </div>
</div>

<div class="ui inverted grey very padded vertical segment">
  <div class="ui text container">
    <h2 class="ui inverted header">About the Project</h2>
    <p>
      Apache Flagon is a free and open-source, thin-client behavioral logging solution for business analytics, usage analytics, usability testing and scientific research. Formerly named Apache SensSoft, Flagon had its start at Draper for DARPA's XDATA program and represents the hard-work and innovations of an interdisciplinary team of data scientists, psychologists, developers and system architects. Apache Flagon is maintained by the people that love it under the mentorship and guidance of the Apache Incubator. Join the conversation and the community!
    </p>
  </div>
</div>
