---
layout: default
---

<div id="main-masthead" class="ui masthead padded center aligned inverted vertical segment">

  <h1 class="ui header">Apache SensSoft</h1>
  <h2 class="ui header">Instrument Software. &nbsp; Understand Humans.</h2>

</div>

<div class="ui very padded vertical segment">
  <div class="ui center aligned text container">
    <p>
      Apache Software as a Sensor™ (SensSoft) incorporates a number of components that work together to provide user-experience researchers, project managers and software developers insights about how web applications are used. Each of the components of Apache SensSoft is made available through its own repository, allowing its distinctive capabilities to grow organically. A simplified system architecture ensures that the components will continue to share data and work together efficiently throughout their evolution.
    </p>

    <br>

    <a class="ui big red button" href="{{ '/system' | prepend: site.baseurl }}">
      Learn More
    </a>
    <a class="ui big blue button" href="{{ '/releases' | prepend: site.baseurl }}">
      Download SensSoft
    </a>
    <a class="ui big yellow button" href="mailto:user-subscribe@senssoft.incubator.apache.org">
      Sign Up For News
    </a>
  </div>
</div>

<div class="ui inverted grey very padded vertical segment">
  <div class="ui text container">
    <div class="ui two column middle aligned grid">
      <div class="column">
        With a single line of code, capture all of your users’ behavior on your web page with enough resolution and granularity for advanced behavioral modeling. Apache UserALE is a free, open-source application for standard user event tracking, but is specially tailored for capturing behavior in web applications build for productivity—data analysis, logistics, system monitoring, and service provisioning.
      </div>
      <div class="center aligned column">
        <a href="{{ '/userale' | prepend: site.baseurl }}">
          <img class="component-image" src="/images/userale_inverted.png">
        </a>
      </div>
    </div>
  </div>
</div>

{% include useralejsDemo.html inverted=false %}

<div class="ui inverted grey very padded vertical segment">
  <div class="ui text container">
    <div class="ui two column middle aligned grid">
      <div class="center aligned column">
        <a href="{{ '/distill' | prepend: site.baseurl }}">
          <img class="component-image" src="/images/distill_inverted.png">
        </a>
      </div>
      <div class="column">
        Process and control your own user event data. Apache Distill is a scalable, customizable analytics stack built in Python that allows you to segment your user data and generate both simple usage statistics on different features of your application and complex graph models of user workflow. Distill provides an easy access point into databases storing your user event data and packages data for discovery through visual analytics.
      </div>
    </div>
  </div>
</div>

<div class="ui very padded vertical segment">
  <div class="ui text container">
    <div class="ui two column middle aligned grid">
      <div class="column">
        Explore your users’ behavior and discover trends through visual analytics. Apache TAP is a customizable visual analytics application that allows you to see trends in usage across users of different types, usage trends across different versions of your application, and rich visualizations of users’ workflow. Tailor visual analytics to your needs customizing TAP with your favorite D3 visualizations.
      </div>
      <div class="center aligned column">
        <a href="{{ '/tap' | prepend: site.baseurl }}">
          <img class="component-image" src="/images/tap.png">
        </a>
      </div>
    </div>
  </div>
</div>

{% include tapDemo.html inverted=true %}

<div class="ui very padded vertical segment">
  <div class="ui text container">
    <div class="ui two column middle aligned grid">
      <div class="center aligned column">
        <a href="{{ '/stout' | prepend: site.baseurl }}">
          <img class="component-image" src="/images/stout.png">
        </a>
      </div>
      <div class="column">
        Stage systematic user research on the web. Apache STOUT provides everyone the ability to perform user research on the web. Track research participants through different tasks with your web applications, or track them through different versions of the same web application. Apache STOUT allows you to manage user research participants and data collected through Apache UserALE and 3rd party form data services.
      </div>
    </div>
  </div>
</div>

<div class="ui inverted grey very padded vertical segment">
  <div class="ui text container">
    <h2 class="ui inverted header">About the Project</h2>
    <p>
      Apache SensSoft is a user activity logging and analytics system that enables developers to instrument and extract design and user insights from their applications.  It was originally developed at <a href="draper.com">Draper</a> for DARPA's XDATA program as a means of evaluating and improving tools for big data analysis and exploration.  Commercially available as Draper's Software as a Sensor™, Apache SensSoft aims to provide a more complete and customizable user analytics platform.
    </p>
  </div>
</div>
