.tooltip {
  position: absolute;
  text-align: center;
  font: 12px sans-serif;
  min-width: 100px;
  min-height: 24px;
  padding: 4px;
  pointer-events: none;
  background-color: $white;
  border-style: solid;
  border-width: 1px;
  border-color: $grey;
}
