# Licensed to the Apache Software Foundation (ASF) under one or more
# contributor license agreements.  See the NOTICE file distributed with
# this work for additional information regarding copyright ownership.
# The ASF licenses this file to You under the Apache License, Version 2.0
# (the "License"); you may not use this file except in compliance with
# the License.  You may obtain a copy of the License at
#
#   http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.

# Apache SensSoft Docker Build

version: "2"
services:

  # Startup
  startup:
    build: ./startup
    container_name: senssoft-start
    depends_on:
      - "elasticsearch1"
      - "elasticsearch2"
    command: bash /opt/entrypoint.sh

  # Site
  site:
    build: ./site
    container_name: senssoft-app
    ports:
      - 8080:8080
    depends_on:
      - "userale-forwarder"
    command: python -m SimpleHTTPServer 8080
    networks:
      - esnet

  # ELK Stack

  # The node elasticsearch1 listens on localhost:9200 while elasticsearch2 
  # talks to elasticsearch1 over a Docker network.
  elasticsearch1:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.5.0
    container_name: senssoft-elastic-1
    environment:
      - cluster.name=SensSoft
      - node.name=soft-01
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - esdata1:/usr/share/elasticsearch/data
    ports:
      - 9200:9200
    networks:
      - esnet

  elasticsearch2:
    image: docker.elastic.co/elasticsearch/elasticsearch:5.5.0
    container_name: senssoft-elastic-2
    environment:
      - cluster.name=SensSoft
      - node.name=soft-02
      - bootstrap.memory_lock=true
      - xpack.security.enabled=false
      - "ES_JAVA_OPTS=-Xms512m -Xmx512m"
      - "discovery.zen.ping.unicast.hosts=elasticsearch1"
    ulimits:
      memlock:
        soft: -1
        hard: -1
    mem_limit: 1g
    volumes:
      - esdata2:/usr/share/elasticsearch/data
    networks:
      - esnet

  # Kibana
  kibana:
    image: docker.elastic.co/kibana/kibana:5.5.0
    container_name: senssoft-kibana
    ports:
      - 5601:5601
    depends_on:
      - "elasticsearch1"
      - "elasticsearch2"
      - "startup"
    environment:
      XPACK_MONITORING_ENABLED: "false"
      ELASTICSEARCH_URL: http://elasticsearch1:9200
    networks:
      - esnet

  # Logstash
  userale-forwarder:
    build: ./logstash
    container_name: senssoft-userale-forwarder
    command: -f /etc/logstash/conf.d
    ports:
      - 8100:8100
    volumes: 
      - ./logstash/config/logstash-userale.conf:/etc/logstash/conf.d/logstash-userale.conf
      - ./logstash/templates/userale.json:/usr/share/logstash/templates/userale.json
    depends_on:
      - "elasticsearch1"
      - "elasticsearch2"
    environment:
      XPACK_MONITORING_ENABLED: "false"
    networks:
      - esnet

  # Distill
  distill:
    build: ./distill
    container_name: senssoft-distill
    ports:
      - 8090:8090
    depends_on:
      - "elasticsearch1"
      - "elasticsearch2"
    networks:
      - esnet

volumes:
  esdata1:
    driver: local
  esdata2:
    driver: local

networks:
  esnet: 

  # db:
  #   container_name: tap-db
  #   build: ./db
  #   ports:
  #     - "5432:5432"

  # tap:
  #   container_name: tap-web
  #   build: ./tap
  #   command: ["bash", "./wait-for-postgres.sh"]
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     - db
  #   links:
  #     - db:db
